name: Project B - API Tests

on:
  push:
    branches: [ feature/project-b, main ]
    paths:
      - 'projects/project-b/**'
  pull_request:
    branches: [ feature/project-b, main ]
    paths:
      - 'projects/project-b/**'

jobs:
  api-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: projects/api-contract-testing

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        
    - name: Install dependencies
      working-directory: projects/api-contract-testing
      run: npm ci

    - name: Run Tests
      working-directory: projects/api-contract-testing
      run: npm test

    - name: Upload Pact Contracts
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: pact-contracts
        path: projects/project-b/pacts
